body {
	background-color: gray;
	background-image: url("tulum.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
h1 {
	font-family: Georgia, serif;
	text-align: center;
	text-decoration: bold;
	text-transform: uppercase;
	font-size: 30px;
	color: white;

}
p {
	font-family: Georgia, serif;
	text-align: center;
	text-decoration: bold;
	text-transform: none;
	font-size: 15px;
	color: white;
}